<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icon.ico' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report_reason_required</title>
</head>
<body>
    <h1>opss!!! You Have A problem Type: report_reason_required</h1>
    <style>
        h1{
            color: rgb(255, 60, 0);
            font-weight: 900;
        }
    </style>
</body>
</html>